<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="starling" sortOrder="999" translate="label">
			<label>starling</label>
		</tab>
		<section id="tasktwo" showInDefault="0" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
			<label>tasktwo</label>
			<tab>starling</tab>
			<resource>Starling_TaskTwo::config_starling_tasktwo</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>general</label>
				<field id="color" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>color</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
